
body {
	background-color:#dadccf;
	font-family: Helvetica
}

.video {
	
	position:relative;
	left:200px;
	display:inline-block;
	width:800px;
/*	background-color:blue;*/
}

iframe {
	margin:0px 87px;
}


h2 {
	
	position:relative;
	display :block;
	text-align: center
	

}

h1{
	color:red;
}

button {
	display:block;
	margin:auto;
}


.button {
	display:inline-block;
	width:40px;
	margin:0px;
	position:absolute;

}

p {
	text-align:center;
}

label {
	color:yellow;
	display:block;
	margin:0 auto;
}

input {
	display:block;
}

textarea {
	display:block;
	width:400px;
	height:25px;
}